Package: me.qusic.drunkmode
Name: DrunkMode
Depends: mobilesubstrate
Version: 0.0.2
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Arm64Darwin1820, Chrisnba24
Author: Qusic
Section: Tweaks
